@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

a.active{
  background-color: #CAEB66;
  color: black;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #CAEB66;
  --color-secondary: #03373D;
}
